<ul id="items_list">
  <% if @items.length >0 
    @items.each do |item| %>
      <li>
        <h2> item listing </h2>
        <div id="item_container">

          <ul>
            <li>item_id: <%= item.item_id %></li>
            <li>item_name: <%= item.item_name %></li>
            <li>item_price: <%= item.item_price %></li>
            <li>item_description: <%= item.item_description %></li>
            <li>item_quantity_in_inventory: <%= item.item_quantity_in_inventory %></li>
            <li>item_creation_timestamp: <%= item.item_creation_timestamp %></li>
          </ul>

          <ul>
            <li><a href='/items/<%= item.item_id %>/view'>focus</a></li>
            <li><a href='/items/<%= item.item_id %>/edit'>edit</a></li>
            <li><a href='/items/<%= item.item_id %>/delete'>delete</a></li>
          </ul>

        </div>
      </li>
    <% end 
  end%>
</ul>
