<div class="degress_wrapper">

    <h2><%= @title %></h2>
    <h3>Here is what we found.</h3>
 <!--    <h3><%= @title %></h3> -->



<div class="top_section">
     <!--  yikes! an empty div. this controls the width & height ab dplace bkgd image in the css -->
    <!-- <p> you asked for johnny's connections to <%= @artist_b_name %>.</p>
    <p> there are <%= @num_of_degrees %> degrees between johnny and <%= @artist_b_name %>.</p> -->

</div><!--  could the various musicbrainz results go in here> -->

      <div class="results"></div>
      <div class="results"></div>
      <div class="results"></div>
      <div class="results"></div>
      <div class="results"></div>
      <div class="results"></div>


</div>
