<h1>Cookie Watchers</h1>

<p> <%= @accuser.name %>: "Who stole the cookie from the cookie jar? </p>
<p><%= @thief.name %> stole the cookie from the cookie jar."</p>
<p><%= @thief.name %>: "Who, me?"</p>
<p><%= @accuser.name %>: "Yes, you!"</p>
<p><%= @thief.name %>: "Not me! Couldn't be! Wasn't me!"</p>
<p><%= @accuser.name %>: "Then who?"</p>

<p><%= @thief.cookies %></p>