<!DOCTYPE html>
<html>
<head>
  <title>FamilyAffair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>FamilyAffair</h1>
<nav>
  <%= link_to "familys", familys_path(100) %>
</nav>

<%= yield %>

</body>
</html>


