<h1>COOKIE THEIVERY</h1>


<!-- A get request to `/` should show the lyrics:
 -->
 <h1><%= @accuser.name %>: "Who stole the cookie from the cookie jar? [theif's name] stole the cookie from the cookie jar."</h1>
<h1><%= @thief.name %>: "Who, me?"</h1>
<h1><%= @accuser.name %>: "Yes, you!"</h1>
<h1><%= @thief.name %>: "Not me! Couldn't be! Wasn't me!"</h1>
<h1><%= @accuser.name %>: "Then who?"</h1>


<h1><%= @thief.name %> has <%= @thief.cookies %> cookies</h1>
