<div class="interface">
<div class= "title">
<h1>Artist Info</h1>
</div>
<div class="info">
<p>Artist info:</p>
<ul>
<li>Artist name: <%= @name %></li>
<li>Country of origin: <%= @country %></li>
<li>Date the band formed: <%= @date_begin %></li>
<li>More info: <a href="<%= @urls %>">Wikipedia</a></li>

<li>Album info: <%= @album_title %></li><li>Album description: <%= @album_info %></li>
</ul>
<div class="details">
<a href="/">Look up another artist</a>
</div>
</div>
</div>
