<div class= "storymaster">
<div class = "username">
<h1><%= username %></h1>
<h4>ANYTHING ANYTHING</h4>
</div>

<div class="instagram">
    <img src= <%= image_url %>>
</div>

<div class="story1">
<p class="story1p"><%= username %>woke up to find him/herself in (location[loop for location != nil]). </p>
</div>


<div class="story2">
<h4 class ="story2p"><%= username %> slept through an apocolypse and could not find a soul in site.</h4>
</div>

<div class="story3">
<h4 class ="story3p">After days and nights of eating -unappetizing food- <%= username %> found a dirty -container-.</h4>
</div>

<div class="story4">
<p class ="story4p"><%= username %> thought it could liven up the -room in house- so he/she went about cleaning it.</p>
</div>




<!-- =============================================================================================== -->

<h1><%= @place %></h1>
<h1><%= @adjective %></h1>
<h1><%= @animal %></h1>
<h1><%= @adverb %></h1>
<h1><%= @verb %></h1>
<h1><%= @flower %></h1>
<h1><%= @celeb %></h1>


<!-- INTAGRAM INPUTS -->

<h3>tag:<%= tags[0] %></h3>
<h3>created_time: <%= created_time %></h3>
<h3>image description:<%= text %></h3>
<!-- <h3>image:</h3> -->
<h3>how many friends:<%= count %></h3>










<p>(username) thought it could liven up the -room in house- so he/she went about cleaning it.


Suddenly a genie appeared!


The genie told (username) it would grant it just one wish.


(username) thought -adjective-


but it was hard on a diet of just -unappetizing food- ...


so (username) just brushed the genie off as a/an -figment of imagination-.


<h6>THE END</h6>

</p>

</div>
