<!DOCTYPE html>
<html>
<head>
  <title>Planetary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Planetary</h1>

  <nav class="header">
    <%= link_to "planets", planets_path %> |
    <%= link_to "new planet", planets_new_path %> |
    <%= link_to "moons", moons_path %> |
    <%= link_to "new moon", moons_newer_path %>
  </nav>

<%= yield %>

</body>
</html>
