<h1><div class=dollar>$$$</div>Today in <%= @symbol %></h1>
<h2><div class=timer>AS OF <%= @time %></div></h2>
<h2>The high of the day is $<%= @dayhigh %></h2>
<h2>The low of the day is $<%= @daylow %></h2>
<h2>Today's change is <%= @change %></h2>
<h1><div class=dollar>$$$$$</div></h1>

<h1> <%= @happy_or_sad %> </h1>