
        <img src="<%= @selfie1 %>">
        <img src="<%= @selfie2 %>">
        <img src="<%= @selfie3 %>">
<br>



<%= form_for Selfie.new do |f| %>
<!--    <img src="<%= @selfie1 %>"> -->
<ul>
<%= f.hidden_field :user_name, :value => "selfie1" %>
  <p><%= f.select :description, [['Marry','Marry'], ['Murder','Murder'], ['Mate', 'Mate']]%></p>
  <%= f.hidden_field :url, :value => "@selfie1" %>
    <% end %>
<li></li>
<%= form_for Selfie.new do |f| %>
<%= f.hidden_field :user_name, :value => "selfie2" %>
  <p><%= f.select :description, [['Marry','Marry'], ['Murder','Murder'], ['Mate', 'Mate']]%></p>
  <%= f.hidden_field :url, :value => "@selfie2" %>
    <% end %>
  <li></li>
  <li></li>
<%= form_for Selfie.new do |f| %>
  <%= f.hidden_field :user_name, :value => "selfie3" %>
  <p><%= f.select :description, [['Marry','Marry'], ['Murder','Murder'], ['Mate', 'Mate']]%></p>
  <%= f.hidden_field :url, :value => "@selfie3" %>
  <p><%= f.submit "Create!" %></p>
  <% end %>
</div>
</form>
    <p>A party game for lonely, judgemental people!</p>
