<div class="section group company">
    <div class="col span_4_of_12">
      <img src= <%= @product.image_url %>>
    </div>


    <% @product.countries.each do |country| %>
      <div class= "col span_1_of_12">
         <img src= <%= country.flag_url %>>
      </div>
      <% end %>
      <div class= "col span_7_of_12">
        <%= form_for @distributor, url: "/products/add_distributor", method:"post" do |f| %>
        <%= select("country", "id", @countries.collect {|r| [ r.name, r.id ] }, { :include_blank => true }) %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
</div>

<%= form_for @product, url: "/products/#{@product.id}", method: "patch" do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :image_url %>
  <%= f.text_field :founded %>
  <%= f.hidden_field :company_id, value: @company.id %>
  <%= f.submit %>
<% end %>
