<div class="section group company">
    <div class="col span_4_of_12">
      <img src= <%= @product.image_url %>>
    </div>

    <% @countries.each do |country| %>
      <div class= "col span_1_of_12">
         <img src= <%= country.flag_url %>>
      </div>
      <div class= "col span_7_of_12">
        <%= form_for @distibutor, url: "/products/add_distributor", method:"post" do |f| %>
        <%= f.text_field :distributor_name
        <% end %>
        <p>add <%= country.name %><p>
      </div>
      <% end %>
    </div>
</div>

<%= form_for @product, url: "/products/#{@product.id}", method: "patch" do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :image_url %>
  <%= f.text_field :founded %>
  <%= f.hidden_field :company_id, value: @company.id %>
  <%= f.submit %>
<% end %>
