<h3>Planets</3>

  <div class="planet_list">
  <% @planets.each do |planet| %>
    <div class ="each_planet">
    <h4><%= planet.name%></h4>
    <img src="<%= planet.image_url %>">
    <p>Diameter: <%= planet.diameter%></p>
    <p>Mass:     <%= planet.mass%></p>
    <p>Life:     <%= planet.life ? "Yes" : "No"%></p>
    </div>
  <%end%>
  </div>
