<h3>Planets</3>

    <h4><%= @planet.name%></h4>
    <img src="<%= @planet.image_url %>">
    <p>Diameter: <%= @planet.diameter%></p>
    <p>Mass:     <%= @planet.mass%></p>
    <p>Life:     <%= @planet.life ? "Yes" : "No"%></p>
    </div>
  </div>
