

<h1><%= @receipt_name %></h1>
<h1><%= @service_name %></h1>
<h1><%= @cost_name %></h1>
<p>
  <a href="/receipts/<%= @receipt_id %>/edit">edit</a>
  <a href="/receipts/<%= @receipt_id %>/delete">delete</a>
</p>
