<h2><%= @planet.name %></h2><br>
<%= image_tag(@planet.image_url) %><br>
<%= link_to 'Create new Moon', "/planets/#{@planet.id}/moons/new" %>
<%= @moons.each do |moon| %>
  <h2><%= moon.name %></h2>
<% end %>


