
      <% planet = Planet.find(params[:id]) %>

        <h2>All about your planet:</h2>
        <h3> <%= planet.name %>!</h3>
        <p><%= image_tag planet.image_url %></p>
        <p>Diameter: <%= planet.diameter %>
        <p>Mass: <%= planet.mass %>
        <p>Supports life? <%= planet.life %>




