<h1>Check out the following information on your entry</h1>

<li>Name: <%= @name %></li>
<li>Symbol: <%= @symbol %></li>
<li>Open: <%= @open %></li>
<li>Last Trade: <%= @lasttrade %></li>
<li>Change Points: <%= @changePoints %></li>
<li>Change Percent: <%= @changePercent %></li>
<!-- <li>symbol</li> -->
