<%= form_for @planet, url: "/planets" do |f| %>
	
<ul>	
	<li>Name: <%= f.text_field :name %></li>
	<li>Image: <%= f.text_field :image_url %></li>
	<li>Diameter: <%= f.text_field :diameter %></li>
	<li>Mass: <%= f.text_field :mass %></li>
	<li>Existence of Life <%= f.select :life, [['Affirmative', true], ['Negative', false]] %></li>
</ul>
	<%= f.submit "Create New Entry" %>

<% end %>




