<div class="planets_display">
	
	<img src="<%= @planet.image_url %>" />
	
	<ul>
		<li><%= @planet.name %></li>
		<li><%= @planet.diameter %></li>
		<li><%= @planet.mass %></li>
		<li><%= @planet.life %></li>
	</ul>



</div>

<div class="moons">
	<% @moons = Moon.all %>

		<% @moons.each do |moon| %>
			<%= moon.name %>
			<img src="<%= moon.image_url %>" />
			<%= moon.planet_id %>
		<% end %>


</div>
