
<!-- <p><%= @artist_hash %></p> -->
<p><%= @artist %></p>

<p>@artist = artist_hash["metadata"]["artist_list"]["artist"][0]["name"] %></p>


<!-- <h4> Info about <%= @artist_names %> </h4>


<ul>
	<li> ID: <%= @artist_id %> </li>
	<li> Gender: <%= @artist_type %> </li>
	<li> Username: <%= @artist_country %> </li>
	<li> ID: <%= @artist_url %> </li>

</ul>
 -->