<div class="cookie_watcher">

<p><%= @acuser.name %> says: Who stole the cookie from the cookie jar? <%= @thief.name %> stole the cookie from the cookie jar!</p>
<p><%= @thief.name %> says: Who, me?</p>
<p><%= @acuser.name %> says: Yes, you!</p>
<p><%= @thief.name %> says:Not me! Couldn't be! Wasn't me!</p>
<p><%= @acuser.name %> says: Then who?</p>

</div>
