<ul class="items">
  <% @items.each do |item| %>
    <li>
      <h2><a href="/items/<%= item.id %>/view"><%= item.name %></a></h2>
      <div>
        <p><%= item.price %></p>
        <p><%= item.description %></p>
        <p><%= item.quantity %></p>
        <p>created: <%= item.created_at %></p>
      </div>
    </li>
  <% end %>
</ul>
