<% if @item %>
  <div class="item">
   <h2><%= @item.name %></h2>
    <ul>
      <li>price: <%= @item.price %></li>
      <li>description: <%= @item.description %></li>
      <li>quantity: <%= @item.quantity %></li>
      <li>created on: <%= @item.created_at %></li>
    </ul>
            <a href="/items/<%= @item.id %>/edit">edit</a>  | <a href="/items/<%= @item.id %>/delete">delete</a>
  </div>
<% else %>
  <div class="item">
    No post found with that ID!
  </div>
<% end %>