<h3>Info about <%= @artist_info.name %></h3>

<ul>
	<li>name: <%= @artist_info.name %></li>
	<li>type: <%= @artist_info.type %></li>
	<li>start date: <%= @artist_info.date_begin %></li>

</ul>

<%= @artist %>

<%=	@album %>
<%= @compilation %>
<%= @ep %>
<%= @live %>
<%= @single %>
<%= @misc %>

