<p><%=@accuser%>:"Who stole the cookie from the cookie jar? <%=@thief%> stole the cookie from the cookie jar."</p>
<p><%=@thief%>: "Who, me?"</p>
<p><%=@accuser%>: "Yes, you!"</p>
<p><%=@thief%>: "Not me! Couldn't be! Wasn't me!"</p>
<p><%=@accuser%>: "Then who?"</p>
