<h3>Register New Studio</h3>
<%= form_for @studio do |f| %>
	<%= f.text_field :name, {placeholder: "Studio Name"} %>
	<%= f.text_field :description, {placeholder: "Studio Description"} %>
	<%= f.text_field :location, {placeholder: "State ex. New York"} %>
	<%= f.submit %>
<% end %>


<h2>Studios!</h2>
<ul class="studios">
	<% @studios.each do |studio| %>
		<li><%= link_to studio.name, "/studios/#{studio.id}", :target => "_blank" %></li>
	<% end %>
</ul>