  <h1>Item Page</h1>
  <div class="item">
   <h2><%= @item.name %></h2>
        <div>
          <p>price: $<%= @item.price %></p>
          <p>description: <%= @item.description %></p>
          <p>
            <a href="/items/<%= @item.id %>/edit">edit</a> | <a href="/items/<%= @item.id %>/delete">delete</a>
          </p>
        </div>
  </div>
