<% if @item %>
  <div class="item">
   <h2><%= @item.name %></h2>
        <div>
          <p><%= @item.description %></p>
          <p><%= @item.price %></p>
          <p><%= @item.quantity %></p>


            <a href="/items/<%= @item_id %>/edit">edit</a> | <a href="/items/<%= @item_id %>/delete">delete</a> | <a href="/items/<%= @item_id %>/quantity">Change quantity</a>
          </p>
        </div>
  </div>
<% else %>
  <div class="item">
    <p>No SKU found with that ID!</p>
  </div>
<% end %>
