<h1>Stock Data for <%= @quote.symbol %>, <%= @quote.name %></h1>


<p><%= @quote.date %>, <%= @quote.time %></p>
<ul>
	<li>Last Trade with Time <%= @quote.lastTradeWithTime %></li>
	<li>Change <%= @quote.change %></li>
	<li>Change Points <%= @quote.changePoints %></li>
	<li>Change Points <%= @quote.changePercent %></li>
	<li>Previous Close <%= @quote.previousClose %></li>
	<li>Open <%= @quote.open %></li>
	<li>Day High <%= @quote.dayHigh %></li>
	<li>Day Low <%= @quote.dayLow %></li>
	<li>Volume <%= @quote.volume %></li>
	<li>Day Range <%= @quote.dayRange %></li>
	<li>Average Daily Volume <%= @quote.averageDailyVolume %></li>
	<li>Bid <%= @quote.bid %></li>
	<li>Ask <%= @quote.ask %></li>

</ul>




