<!DOCTYPE html>
<html>
<head>
  <title>Planet And Moon App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Planets and Moons</h1>
  <nav>
    <%= link_to "all", crayons_path %> 
    <%= link_to "new", crayons_new_path %>
  </nav>

<%= yield %>

</body>
</html>
