<div class= "storymaster">
<div class = "username">
<h1><%= username %>'s</h1>
<h4>MAD INSTASTORY</h4>
</div>

<div class="instagram">
    <img src= <%= image_url %>>
</div>

<div class="story1">
<p class="story1p"><%= username %> woke up to find him/herself in <%= @flower %> land not too far from <%= @place %>.</p>
</div>


<div class="story2">
<h4 class ="story2p"><%= username %> slept through an apocolypse and could not find a <%= @animal %> in site.</h4>
</div>

<div class="story3">
<h4 class ="story3p">After days and nights of eating -unappetizing food- during <%= created_time %>, <%= username %> found a dirty -container-.</h4>
</div>

<div class="story4">
<p class ="story4p"><%= username %> thought it could liven up the <%= @restaurant %> so he/she went about cleaning it.</p>
</div>

<div class="story5">
</div>

<div class ="story6">
<p class="story6p">Suddenly a genie appeared!</p>
</div>

<div class ="story7">
<p class="story7p">The genie who has <%= count %> friends including <%= @celeb %> said : <%= text %></p>
</div>

<div class ="story8">
<p class="story7p"><%= username %> thought <%= @adjective %></p>
</div>

<div class ="story7">
<p class="story7p">but it was hard on a diet of just <%= @flavor %> flavored food...</p>
</div>

<div class="story4">
<h5>so <%= username %> just brushed the genie off as a -figment of imagination-.</h5>
</div>

<div class="the_end">

</div>

</div>





