
<nav>
<div class="planet">
  <h2>
    <%= @planet.name %>
  <%= @planet.diameter %>
  <%= @planet.mass %>
  <%= @planet.life %>
</h2>
  <img class="planet_photo" src="<%= @planet.image_url %>" />
<% planet = Planet.find(7) %>
<%#= planet.name %>
<p>Including the following moons: <%= planet.mooons %></p>
</div>
<nav>
