<div class="planet">
  <%= @planet.name %>
  <%= @planet.diameter %>
  <%= @planet.mass %>
  <%= @planet.life %>
  <img class="planet_photo" src="<%= @planet.image_url %>" />
  <%= @mooon.name %> belongs to <%= @mooon.planet_name %>
</div>
