
<!-- <div class="name"> -->

</div>

<div class="quote">
	<h1 style ="font-size: 70px; font-family: 'Open Sans', sans-serif;"><%= @quote %></h1>
	<h2>Name: <%= @quote_name %></h2>
	<h2>Last Trade: <%= @quote_lastTrade %></h2>
	<h2>Change: <%= @quote_change %></h2>
	<h2>Previous Close: <%= @quote_previousClose%></h2>
	<h2>Open: <%= @quote_open %></h2>
	<h2>Day Low: <%= @quote_dayLow %></h2>
	<h2>Volume: <%= @quote_volume %></h2>
	<h2>Day Range: <%= @quote_dayRange %></h2>
	<h2>Day High: <%= @quote_dayHigh %></h2>
	<h2>Last Trade With Time: <%= @quote_lastTradeWithTime %></h2>
	<h2>Average Daily Volume: <%= @quote_averageDailyVolume %></h2>
	<h2>Bid Price: <%= @quote_bid %></h2>
	<h2>Ask Price: <%= @quote_ask %></h2>



</div>


	<img src="http://b-i.forbesimg.com/schifrin/files/2013/06/0604_wealth-wizard-warren-buffet_650x455.jpg">