<h1>New planet</h1>

planet = Planet.new()
planet.name = "David"
planet.diameter = 1


  <%= f.text_field :name %>
  <%= f.text_field :image_url %>
  <%= f.text_field :diameter %>
  <%= f.text_field :mass %>
  <%= f.text_field :life %>

