<h1>Cookie Watchers!</h1>

<%= "#{@accuser.name}: Who stole the cookie from the cookie jar? #{@thief.name} stole the cookie from the cookie jar." %><br />

<%= "#{@thief.name}: Who, me?" %><br />

<%= "#{@accuser.name}: Yes, you!" %><br />

<%= "#{@thief.name}: Not me! Couldn't be! Wasn't me!" %><br />

<%= "#{@accuser.name}: Then who?" %><br />

