<h1>Movies!</h1>





<img src='<%= @movies[0]["movieposter"] %>' />
<img src='<%= @movies[1]["movieposter"] %>' />
<img src='<%= @movies[2]["movieposter"] %>' />
<img src='<%= @movies[3]["movieposter"] %>' />
<img src='<%= @movies[4]["movieposter"] %>' />