<button id="hello">Hello</button>

<!-- <form id="register" >
 <input id="user_name" type="text" placeholder="User name" />
  <input id="user_email" type="text" placeholder="Your email" />
   <input id="email_confirm" type="text" placeholder="Confirm email" />

<button id="add_user_button">Register</button>
</form> -->
<div id="sign_up">
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
</div>



  <h1>Beasties below...</h1>

<form id="diets" >
<input type="radio" id="herbivor" name="diet" value="herbivore" />Herbivore<br>

<input type="radio" id="carnivore" name="diet" value="carnivore" />Carnivore<br>
<input type="radio" id="omnivore" name="diet" value="omnivore" />Omnivore<br>

</form>

<div id="beastlist">

</div>

<ul id="beast_list">
<% @beasts.each do |beast| %>
  <article class="beast" id="beast-<%= beast.id %>">
    <header>
      <h1><%= beast.name %></h1>
      <%= image_tag(beast.image_filename || 'unavailable.png') %>
    </header>
    <section class="entry-body">
      <%= attribute_table beast, %w(diet habitat light_ethology size) %>
      <% beast.description_paragraphs.each do |p| %>
        <p><%= p %></p>
      <% end %>
    </section>
  </article>
<% end %>
</ul>

<script id="beastTemplate" type="text/template">



</script>


<!-- <section id="beast-list">
    <%= render @beasts %>
  </section>

</section>
 -->
