<!DOCTYPE html>
<html>
  <head>
    <title><%= SmoketopApp::APPLICATION_TITLE %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="container">

      <header id="site-header">
        <h1><%= SmoketopApp::APPLICATION_TITLE %></h1>
        <h2>&#8226; &#8226; &#8226; A compendium of esoteric critters &#8226; &#8226; &#8226;</h2>
      </header>

      <nav>
        <ul>
          <li id= "home_button"><a>Home</a></li>
          <li id="beasts_list_button"><a>List Beasts</a></li>
          <li id="about_button"><a>About</a></li>
        </ul>
      </nav>

      <main>
        <div class= "show_all"></div>
        <ul class= "beast_list"></ul>
      </main>

    </div>

  </body>
</html>
