<!DOCTYPE html>
<html>
  <head>
    <title><%= SmoketopApp::APPLICATION_TITLE %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="container">

      <header id="site-header">
        <h1><%= SmoketopApp::APPLICATION_TITLE %></h1>
        <h2>&#8226; &#8226; &#8226; A compendium of esoteric critters &#8226; &#8226; &#8226;</h2>
      </header>

      <nav>
        <ul>
          <li id= "home"><a>Home</a></li>
          <li id="beasts_list"><a/>List Beasts</a></li>
          <li id="about"><a>About</a></li>
        </ul>
      </nav>

      <main>
        <%= yield %>
      </main>

    </div>

  </body>
</html>
