<h1><%= @name %> stock traded on <%= @date %></h1>

<h3>Opened at: <%= @open %>.</h3>

<h3>Closed at: <%= @closed %>.</h3>

<center><div class=<%= @gain_loss %> id="boxes"><h4><%= @change_percent %>% </h4></div>

<div class=<%= @gain_loss %> id="boxes"><h4><%= @change_point %> </h4></div></center>
