<%= form_for @device do |f| %>
<%= f.text_field :manufacturer, { placeholder: "Manufacturer" } %>
  <%= f.text_field :name, { placeholder: "Name"} %>
  <%= f.text_field :year, { placeholder: "Model Year"} %>
  <%= f.text_field :purchase_date, { placeholder: "Purchase Date"} %>
  <%= f.text_field :description, { placeholder: "Description"} %>
  <%= f.text_field :user_id, value: @user_id %>
  <%= f.submit "Add Device", class: 'button' %>
<% end %>

<h2>Devices</h2>
<ul class="devices">
  <% @devices.each do |device| %>
    <li><%= link_to device.name, "/devices/#{device.id}" %></li>
  <% end %>
</ul>
