<h2 class="cookbook_title"><%= @cookbook.title %></h2>
<p>	
	<%= link_to "edit", "/cookbooks/#{@cookbook.id}/edit" %>
</p>

<p class="cookbook_description">
	<%= @cookbook.description %>
</p>

<h3>Recipes</h3>
<%= form_for @recipe, url: "/recipes", method: "POST" do |f| %>
	<%= f.text_field :title, {placeholder: "title"} %>
	<%= f.text_field :content, {placeholder: "content"} %>
	<%= f.hidden_field :cookbook_id, value: @cookbook.id %>
	<%= f.submit %>
<% end %>



<ul class="recipes">
	<% @cookbook.recipes.each do |recipe| %>
		<li class="recipe">
			<h4><%= recipe.title %></h4>
			<p><%= recipe.content %></p>
		</li>
	<% end %>
</ul>