<h1>Search Results</h1>

<h1><%= @artist_hash["name"] %> is a <%= @artist_hash["type"] %></h1>

<h1>Active:<%= @artist_hash["life_span"]["begin"] %> - <%= @artist_hash["life_span"]["ended"] %></h1>


<img src= <%= @image %>>

  <% @sorted_albums.each do |album| %>
     <img src= "<%= album["icon"] %>" title= "<%= album["releaseDate"] %>">
  <% end %>
