<h1>Search Results</h1>

<h1><%= @artist_hash["name"] %> is a <%= @artist_hash["gender"] %></h1>

<img src= <%= @image %>>

  <% @sorted_albums.each do |album| %>
     <img src= "<%= album["icon"] %>" title= "<%= album["releaseDate"] %>">
  <% end %>
