<center><div class="container">
<center><img class="profile" src="http://graph.facebook.com/<%= @friend["id"] %>/picture"></center>
<center><h4 class="name"><%= @friend["name"] %></h4></center>
<ul>
  <li> ID: <%= @friend["id"] %> </li>
  <li> Gender: <%= @friend["gender"].capitalize %> </li>
  <li> Username: <%= @friend["username"]
 %> </li>

</ul>
</div></center>
