<% if @item %>
  <div class="item">
   <h2><%= @item.name %></h2>
        <div>
          <p><%= @item.price %></p>
          <p>
            by <%= @item.description %>  <%= @item.quantity %> on <%= @item.created_at %>
          </p>
          <p>
            <a href="#">edit</a> | <a href="/items/<%= @item_id %>/delete">delete</a>
          </p>
        </div>
  </div>
<% else %>
  <div class="item">
    No item found with that ID!
  </div>
<% end %>
