<% if @item %>
  <div class="post">
   <h2><%= @item.name %></h2>
        <div>
          <p><%= @item.price %></p>
          <p><%= @item.description %></p>
          <p><%= @item.quantity %></p>
          <p>
            <%= @item.created_at %>
          </p>
          <p>
            <a href="#">edit</a> | <a href="/item/<%= @pitem_id %>/delete">delete</a>
          </p>
        </div>
  </div>
<% else %>
  <div class="post">
    No post found with that ID!
  </div>
<% end %>