<h1><%= @quote_name %></h1>
<h2><%= @quote %></h2>
<h3><i>Last Trade</i>: <%= @quote_lastTrade %></h3>
<h3><i>Quote Change</i>: <%= @quote_change %></h3>
<h3><i>Prev. Close</i>: <%= @quote_previousClose%></h3>
<h3><i>Open</i>: <%= @quote_open %></h3>
<h3><i>Low</i>: <%= @quote_dayLow %></h3>
<h3><i>Volume</i>: <%= @quote_volume %></h3>
<h3><i>Range %</i>: <%= @quote_dayRange %></h3>
<h3><i>High</i>:<%= @quote_dayHigh %></h3>
<h3><i>Bid</i>: <%= @quote_bid %></h3>
<h3><i>Ask</i>: <%= @quote_ask %></h3>
