<h2><%= @accuser.name %>: "Who stole the cookie from the cookie jar? <%= @thief.name %> stole the cookie from the cookie jar."</h2>

<h2><%= @thief.name %>: "Who, me?"</h2>

<h2><%= @accuser.name %>: "Yes, you!"</h2>

<h2><%= @thief.name %>: "Not me! Couldn't be! Wasn't me!"</h2>

<h2><%= @accuser.name %>: "Then who?"</h2>

<hr>

<%= @thief.name %> - <%= @thief.cookies %>

