<h4> Info about <%= @friend["name"] %> </h4>
<p><img src="<%= "#{@profile_picture_hash["picture"]["data"]["url"]}" %>"/></p>
<ul>
	<li> ID: <%= @friend["id"] %> </li>
	<li> Gender: <%= @friend["gender"] %> </li>
	<li> Username: <%= @friend["username"]
 %> </li>

</ul>
