<h2 class="parent_title"><%= @parent.name %></h2>
<p>
  <%= link_to "edit", "/parents/#{@parent.id}/edit" %>
</p>
<p class="parent_relationship">
  <%= @parent.relationship %>
</p>
<h3>Recipes</h3>
<%= render partial: "childrens/childrenform", locals: { children_local: @children, parent_id: @children.id }%>
<ul class="childrens">
  <% @parent.childrens.order(id: :desc).each do |children| %>
    <li class="recipe">
      <h4><%= recipe.name %></h4>
      <p>
        <%= link_to "edit", "/childrens/#{children.id}/edit" %>
      </p>
      <p><%= children.sex %></p>
    </li>
  <% end %>
</ul>
