<h1>Edit Moon</h1>
<%= form_for :moon, :url => { :action => "update_moon" } do  |f| %>
  <%= f.hidden_field :planet_id, :value => @planet %>
  <%= f.label :name %>
  <%= f.text_field :name%>
  <%= f.label :image_url %>
  <%= f.text_field :image_url%>
  <%= f.label :diameter %>
  <%= f.text_field :diameter %>
  <%= f.label :life %>
  <%= f.text_field :life %>
  <%= f.submit %>
<% end %>
