<% if @error %>
<h1>ERROR! Please enter a valid symbol!</h1>
<form action= "/name">
  <input type ="text" name="user_input" placeholder="Type the stock ticker">
</form>
<% else %>
<h1>For stock symbol <%= @full_list.symbol%>(<%= @full_list.name%>)</h1>
<h1>On <%=@full_list.date%>, the last trading price was <%=@full_list.lastTrade%> at <%=@full_list.time%>.
<ul>
  <p>The day change is <%=@full_list.change%></p>
  <p>The bid/offer is <%=@full_list.bid%>/<%=@full_list.ask%></p>
  <p>with a volume of <%=@full_list.volume%> trades.</p>
  <p>The previous close was at <%=@full_list.previousClose%> with a day high of <%=@full_list.dayHigh%> and low of <%=@full_list.dayLow%></p>
</h1>
<% end  %>
