<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to "all movies", "/search/movie" %> |
  <%= link_to "search", "/search" %>
</nav>

<%= yield %>

</body>
</html>
