<%= form_for @mooon, url: "/mooons" do |f| %>

  <p>
  Name: <%= f.text_field :name %>
  </p>
  <p>
  Image: <%= f.text_field :image_url%>
  </p>
   <p>
  Diameter: <%= f.text_field :diameter%>
  </p>
  <p>
  Mass: <%= f.text_field :mass%>
  </p>
   <p>
  Life: <%= f.text_field :life%>
  </p>
   <p>
 Belongs to: <%= f.text_field :planet_name%>
  </p>
  <p>
  <%= f.submit "Create" %>
</p>
<% end %>
