<div class="mooon">
  <%= @mooon.name %>
  <%= @mooon.diameter %>
  <%= @mooon.mass %>
  <%= @mooon.life %>
  <img class="mooon_photo" src="<%= @mooon.image_url %>" />
    <%= @mooon.name %> belongs to <%= @mooon.planet.name %>
</div>
