<h1>that guy  </h1>

<% if ! current_user %>
  <p>Welcome!</p>

  <h1>Login</h1>
  <%= form_tag(:action => "create", :controller => "sessions") do %>
    <div>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag("Login") %>
    </div>
  <% end %>


   <h1>Register</h1>
  <%= form_for @user do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      <div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      <div>
      <div>
        <%= f.submit %>
      <div>
  <% end %>
<% else %>
  <p>Welcome, <%= @user.name %>!</p>

  <%= link_to "Logout", logout_path %>
<% end %>




