<!DOCTYPE html>
<html>
<head>
  <title>Out There</title>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Out There</h1>
  <nav>
    <%= link_to "All", planets_path %> |
    <%= link_to "New", planets_new_path %>
  </nav>
<div class="window">
<%= yield %>
</div>
</body>
</html>
