


<%= form_for @moon, url: "/planets/:planet_id/moons" do |f| %>

  <p>
    Name: <%= f.text_field :name %>
  </p>
  <p>
  Image Url: <%= f.text_field :image_url %>
  </p>





  <%= f.submit "Create" %>

<% end %>

<%= link_to 'Back', planet_moons_path(@planet) %>
