


<p><%=@accuser.name%>: "Who stole the cookie from the cookie jar? <%=@theif.name%> stole the cookie from the cookie jar."</p>
<p><%=@theif.name%>: "Who, me?"</p>
<p><%=@accuser.name%>: "Yes, you!"</p>
<p><%=@theif.name%>: "Not me! Couldn't be! Wasn't me!"</p>
<p><%=@accuser.name%>: "Then who?"</p>

<p><%=@theif.name%> now has <%=@theif.cookies%> cookies</p>
