<form action="/items/<%= @item.id %>/update" method="POST">
  <p>
    <input type="text" name="name" value="<%= @item.name %>" />
  </p>
  <p>
    <input type="number" name="price" value="<%= @item.price %>" />
  </p>
  <p>
    <input type="number" name="quantity" value="<%= @item.quantity %>" />
  </p>
  <p>
    <textarea name="description"><%= @item.description %></textarea>
  </p>
  <input type="submit" value="Edit Item" />
</form>
