
<h2><a href="/items/<%= @item.id %>/show" > <%= @item.name %> </a></h2>
<div>
  <p><%= @item.description %></p>
  <p>Cost: <%= @item.price %><br> Quantity: <%= @item.quantity %></p>
  <a href="/items/<%= @item.id %>/edit">Edit</a> | <a href="/items/<%= @item.id %>/delete">Delete</a>
</div>

