
<ul>
<img src="<%= @result_hash["Poster"] %>">
<li><%= @result_hash["Title"] %></li>
<li><%= @result_hash["Year"] %></li>
<li><%= @result_hash["Rated"] %></li>
<li><%= @result_hash["Released"] %></li>
<li><%= @result_hash["Runtime"] %></li>
<li><%= @result_hash["Genre"] %></li>
<li><%= @result_hash["Director"] %></li>
<li><%= @result_hash["Writer"] %></li>
<li><%= @result_hash["Actors"] %></li>
<li><%= @result_hash["Plot"] %></li>



</ul>